unterordner=false		#false=Film wird alleine Kopiert SPeedreport wird im sfdl_download order verschoben.
removeold=true			#nur bei unterordner=false. Der alten ordner wird entfernt.
#-----------------------------------------------------------------------------------------------
kat_film=Filme			#Der ordner name für Kategorie film
kat_serien=serien			#Der ordner name für Kategorie serien
kat_musik=Musik     #Der ordner name für Kategorie Musik
####Bei weiteren Katigorien einfach kat_"name"="ordnername" hinzufügen#######
#-----------------------------------------------------------------------------------------------
